
h1{
   font-size:150px;   
   text-align:center;
   margin-top:100px;
   color:yellow;
   text-shadow:6px 7px 8px #808080
}

body{
   background-image:url('0F95FD9A-0B47-411D-8D8D-818E0C75FEDA.gif');
   backdrop-filter:blur(120px);
}


