h1{
   font-size:150px;   
   text-align:center;
   margin-top:100px;
   color:red;
}

body{
   background-image:url('https://github.com/ryuma20/memeta/blob/main/E2EFB3C8-5030-485D-815F-A25C65D6376F.jpeg');
}
