h1{
   font-size:155px;   
   text-align:center;
   margin-top:100px;
   color:#FF9900;
   text-shadow:6px 7px 8px #808080
}
p{
   font-size:80;
   text-align:center;
   color:black;
   text-shadow:6px 7px 8px #808080
}
body{


   background-image:url('F63E70BB-5A15-42D1-B4C1-01ACC5F18F16.jpeg');
   backdrop-filter:blur(120px);
}
div{
   font-size:65;
   text-align:left;
   text-shadow:7px 7px 8px #808080
   color:yellow;
   
   
}
   
